<h1>Create a new recipe</h1>
<%= simple_form_for @recipe do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, :hint => "Define the title" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :price, :hint => "give us a price (GBP)" %>
  <%= f.input :cooking_time, :hint => "cooking time (minutes)" %>
  <%= f.input :description, :hint => "tell us where its from, the story behind" %>
  <%= f.input :instructions, :hint => "tell us how to do it step by step" %>
  <%= f.input :difficulty, :hint => "tell us how difficlt it is"  %>
  <%= f.input :cuisine_type, :hint => "french, italian, else"%>
  <%= f.button :submit %>
<% end %>

<%= link_to "Home", recipes_path %>
