<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0) 30%, rgba(0,0,0,3)), url('../assets/images/food.jpeg');">
  <div class="banner-content">
    <h1><%= @recipe.title %></h1>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <div class="star-rating">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="container-recipe-page">

  <div class="flex-recipe-details">
    <div class="recipe-description">
      <p>"<%= @recipe.description %>"</p>
    </div>
    <div class="cooking-details">
      <h3><i class="fa fa-cutlery" aria-hidden="true"></i> <%= @recipe.difficulty.upcase%></h3>
      <h3><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @recipe.cooking_time %> MINS</h3>
    </div>
    <div class="recipe-avatar">
      <img class="avatar" src="css/images/bart.jpeg">
    </div>
  </div>

  <div class="recipe-instructions">
    <h2>Method</h2>
    <p><%= @recipe.instructions %></p>
  </div>

  <div class="recipe-reviews">
    <h2>Customer Reviews</h2>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    <p>"This was the best food I've ever tasted, and so simple to cook as well! Highly recommended"</p>
    <h3>Bart</h3>
    <h4>July 2017</h4>
  </div>


</div>

<h1><%= @recipe.title %> - <%= @recipe.transactions.count %></h1>

<%= link_to "delete this recipe", recipe_path(@recipe), method: :delete %>
<%= link_to "home page", recipes_path %>

<% if @recipe.user_id != current_user.id %>
  <%= render 'transactions/form', recipe: @recipe, transaction: @transaction %>
<% else %>
  <%=  %>
<% end %>
