<h1><%= @user.first_name %> <%= @user.last_name %></h1>


<h2>TO DO: MAKE SOME CARDS</h2>
<ul>
  <% @user.recipes.each do |recipe| %>
  <li>
    <h3><%= recipe.title %></h3>
    <p><%= recipe.cuisine_type %></p>
    <p><%= recipe.description %></p>
  </li>
  <% end %>
  <li>
    <%= link_to "ADD A NEW RECIPE", new_recipe_path %>
  </li>
</ul>
