
<% if recipe = @user.recipes.last%>
<div class="banner" id="user-banner" style="background-image: url('<%= cl_image_path recipe.photo, height: 300, width: 400, crop: :fill %>');">
  <div class="banner-content">
    <%= link_to "Edit", edit_user_registration_path %>
  </div>
</div>
<% else %>
<div class="banner" id="user-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/77586/night-77586.jpeg');">
  <div class="banner-content">
    <%= link_to "Edit", edit_user_registration_path %>
  </div>
</div>
<% end %>


<div class="container user-profile text-center">
  <div id="avatar_position" >
    <% avatar_url = @user.facebook_picture_url || @user.photo.url(:square) || "http://placehold.it/30x30" %>
    <%= cl_image_tag avatar_url, class: "avatar-large  text-center" %>
  </div>
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
</div>
<br>
<div class="container my-recipes">
  <h2><%= @user.first_name.capitalize %> Recipes</h2>
  <div class="content-container">
    <div class="row">
      <% @user.recipes.each do |recipe| %>
        <div class="col-xs-12 col-sm-6">
          <%= render "shared/card", recipe: recipe %>
        </div>
      <% end  %>
      <% if current_user %>
        <% if current_user.id == @user.id%>
          <div class="col-xs-12 col-sm-6">
            <%= link_to new_recipe_path, class: "card add-card btn" do%>
              <h3>Add a new recipe</h3>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<br>
<div class="container my-recipes">
  <h2>Purchased Recipes</h2>
    <div class="content-container">
      <div class="row">
      <% @user.transactions.each do |transaction|  %>
        <% recipe = Recipe.find(transaction.recipe_id)%>
          <div class="col-xs-12 col-sm-6">
            <%= render "shared/card", recipe: recipe %>
          </div>
        <% end %>

        <div class="col-xs-12 col-sm-6">
          <%= link_to recipes_path, class: "card add-card btn" do%>
            <h3>Buy a recipe</h3>
          <% end %>
        </div>
      </div>
    </div>
</div>






