<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://placehold.it/500x1000');">
  <div class="banner-content">
    <%= link_to "Edit", edit_user_registration_path %>
  </div>
</div>

<div class="container user-profile text-center">
  <div id="avatar_position" >
    <% avatar_url = @user.facebook_picture_url || @user.photo.url(:square) || "http://placehold.it/30x30" %>
    <%= cl_image_tag avatar_url, class: "avatar-large  text-center" %>
  </div>
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
</div>
<br>
<div class="container my-recipes">
  <h2>My Recipes</h2>
  <div class="content-container">
    <%= render "shared/card_create" %>
 </div>
</div>
<br>
<div class="container bought-recipe">
  <h2>Purchased Recipes</h2>
  <%= link_to "BUY A NEW RECIPE", recipes_path %>
    <div class="content-container">
      <%= render "shared/card_bought" %>
    </div>
</div>






