<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://www.fontify.me/wf/2147c49c83498ee3674e59adcda6e1b2" rel="stylesheet" type="text/css">
  <title>TODO</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

  <div class="wrapper">
  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>
    <div class="container padded-bottom">
    <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
